

<h1>Liste des campings <%=@camping.count%></h1>

<article>
<div class="row">

<% for camping in @camping %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h4><%= camping.nom %> </h4>
        <p><%= camping.adresse %>, <%= camping.commune %>
        <p><%= camping.description %></p>
        <p><%= link_to "Voir la fiche", camping_path(camping.slug), class:"btn btn-primary", role:"button" %></p>

      </div>
    </div>
  </div>
</div>
  <%end%>
</article>
<ul class="pagination"><%= will_paginate @camping, :previous_label => 'Précédent', :next_label => 'Suivant' %></ul>
