<h1>Liste des campings <%=@camping.count%></h1>


<%= form_tag campings_path, :method => 'get' do %>
  <p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
  </p>
<%end%>


<article>
<div class="row">
<% for camping in @camping %>
  <div class="col-xs-6 col-md-4">

      <div class="caption">
        <h5><%= camping.nom %> </h5>
        <p><%= camping.adresse %>, <%= camping.commune %>
        <p><%= camping.description %></p>
        <p><%= link_to "Voir la fiche", camping_path(camping.slug), class:"btn btn-primary", role:"button" %></p>
      </div>
<hr>
  </div>
  <%end%>
</div>
</article>
