

<p><%= @camping.nom %></p>

<p><%= @camping.adresse %></p>
<p><%= @camping.code_postale %></p>
<p><%= @camping.commune %></p>

<p>Emplacements :<%= @camping.emplacements %></p>
<p><%= @camping.region %></p>
<p><%= @camping.nomdep %></p>
<p><%= @camping.tel %></p>
<p><%= @camping.courriel %></p>
<p><%= @camping.site_internet %></p>
