<h1><%= @camping.nom%></h1>
<h4><%= @camping.code_postale %> <%= @camping.commune %></h4>


<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 500px;'></div>
</div>


<p><%= @camping.description%> </p>

<%= @camping.adresse %>
<p><%= @camping.commune %></p>

<p>Emplacements :<%= @camping.emplacements %></p>
<p><%= @camping.region %></p>
<p><%= @camping.nomdep %></p>
<p><%= @camping.tel %></p>
<p><%= @camping.courriel %></p>
<p><%= @camping.site_internet %></p>

<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {disableDefaultUI: true,},
    provider: {maxZoom: 11},
    internal: {id: 'map'},
      },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }

);

</script>
