<h1>Tous les campings du département <%= @departement.nomdep %></h1>

<p><%= @departement.description %></p>
<%# AFFICHE LES VILLE POUR LE DEPARTEMENT %>
<h2>Les villes du département <%= @departement.nomdep %></h2>
<% @departement.villes.sort{|a,b| a.nomcommune <=> b.nomcommune}.each do |ville| %>
<li><%= link_to ville.nomcommune, "/ville/"+ville.slug %></li>
<%end%>

<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 500px;'></div>
</div>

<%# AFFICHE LES CAMPINGS POUR LE DEPARTEMENT %>
<% @departement.campings.each do |camping| %>
<article>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= camping.nom %> </h3>
        <p><%= camping.description %></p>
        <p><%= camping.adresse %>, <%= camping.commune %></p>
        <p><%= link_to "Voir la fiche", camping_path(camping.slug), class:"btn btn-primary", role:"button" %></p>

      </div>
    </div>
  </div>
</div>
</article>
<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {disableDefaultUI: true,},
    provider: {maxZoom: 11},
    internal: {id: 'map'},
        },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }

);

</script>
  <%end%>
